.product-section {
  padding: 160px 24px;

  background: #ffffff;
}

.product-container {
  width: min(1100px, 100%);

  margin: auto;
}

.product-heading {
  max-width: 700px;
}

.product-heading h2 {
  color: #09182b;

  font-size: clamp(42px, 5vw, 64px);

  line-height: 1.04;

  letter-spacing: -3px;

  font-weight: 800;
}

.product-heading p {
  max-width: 600px;

  margin-top: 25px;

  color: #6d7d90;

  font-size: 16px;

  line-height: 1.75;
}

/* WORKFLOW */

.workflow {
  margin-top: 100px;

  display: grid;

  grid-template-columns:
    1fr
    50px
    1fr
    50px
    1fr
    50px
    1fr;

  align-items: start;

  padding: 35px;

  border: 1px solid #e1e9f2;

  border-radius: 18px;

  background: #f8fbff;
}

.workflow-item {
  min-height: 170px;
}

.workflow-number {
  width: 36px;
  height: 36px;

  display: flex;

  align-items: center;
  justify-content: center;

  margin-bottom: 22px;

  border-radius: 9px;

  background: #e7f1ff;

  color: #126df3;

  font-size: 11px;
  font-weight: 700;
}

.workflow-item h3 {
  color: #13253b;

  font-size: 17px;
}

.workflow-item p {
  margin-top: 10px;

  color: #718096;

  font-size: 12px;

  line-height: 1.65;
}

.workflow-line {
  height: 1px;

  margin-top: 18px;

  background: #cddceb;
}

/* FEATURES */

.feature-grid {
  margin-top: 90px;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  border-top: 1px solid #e1e9f2;
  border-left: 1px solid #e1e9f2;
}

.feature {
  min-height: 190px;

  padding: 30px;

  display: flex;

  gap: 18px;

  border-right: 1px solid #e1e9f2;
  border-bottom: 1px solid #e1e9f2;
}

.feature-icon {
  flex-shrink: 0;

  width: 30px;
  height: 30px;

  display: flex;

  align-items: center;
  justify-content: center;

  border-radius: 8px;

  background: #126df3;

  color: white;

  font-size: 18px;
}

.feature h3 {
  color: #16283e;

  font-size: 14px;
}

.feature p {
  margin-top: 9px;

  color: #738296;

  font-size: 12px;

  line-height: 1.65;
}

@media (max-width: 850px) {
  .product-section {
    padding: 100px 20px;
  }

  .workflow {
    grid-template-columns: 1fr;

    gap: 25px;

    padding: 25px;
  }

  .workflow-line {
    display: none;
  }

  .workflow-item {
    min-height: auto;

    padding-bottom: 25px;

    border-bottom: 1px solid #dce5ef;
  }

  .workflow-item:last-child {
    border-bottom: 0;
  }

  .feature-grid {
    grid-template-columns: 1fr;
  }
}